@font-face {
  font-family: Fira Code;
  src: url("/fonts/woff2/FiraCode-Regular.woff2") format("woff2"),
    url("/fonts/woff/FiraCode-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

/* @font-face {
  font-family: Fira Code medium;
  src: url("/fonts/woff2/FiraCode-Medium.woff2") format("woff2"),
    url("/fonts/woff/FiraCode-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
} */

/* @font-face {
  font-family: Fira Code bold;
  src: url("/fonts/woff2/FiraCode-SemiBold.woff2") format("woff2"),
    url("/fonts/woff/FiraCode-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
} */
